.option{
    display: none;
}
@media (max-width: 768px) and (min-width: 300px){
    .opti{
        position: relative;
    }
    .option{
    display: flex;
    margin-top: 0;
    margin-left: 0;
    position: fixed;
    margin-top: 50px;
}
.font{
    width: 40px;
    height: 40px;
    color: black;
     margin-top: -40px;
    margin-left: 0;
    font-size: 35px;
    font-weight: 700;
    background-color: white;
}
    .openList{
        width: 200px;
        height: 500px;
        background-color: white;
        color: black;
        margin-top: 0;
        margin-left: 0;
        display: block;
        padding-top: 15px;
    }
    .icon{
        display: block;
        margin-left: 10px;
        margin-bottom: 15px;
        font-size: 25px;
    }
}