 *{
   margin: 0 auto;
 }
 /* башкы беттин жасалгалары */
h1{
    color: blue;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
     grid-column: span 3;

    }
 h4{
    color: blue;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
     grid-column: span 3;
 }
 .opti{
   max-width: 1200px;
   width: 100%;
   height: 900px;
   border: 2px solid black;
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROZncylbf90gImrkk-qAAfaTgIhzqpPGvqKA&s");
    background-size: cover;  
     background-attachment: fixed;  
     background-repeat: no-repeat;
   opacity: 2;
   /* margin: 0 auto; */
   margin: 0 20px;
   position: relative;
   z-index: 5px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px; 
   padding-left: 20px;
   }
   .fix{
   max-width: 500px;
   height: 30px;
   position:fixed;
    left: 85%;
   top: 5%;
   transform: translateX(-15%);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   font-weight: 900;
   cursor: pointer;
   z-index: calc(2);
   }
 
 .bash{
    width: 300px;
    height: 600px;
    border: 3px solid black;
    background-color: white;
    } 
     .kfc{ 
     width: 290px;
     height: 280px;
     padding: 5px;
      display: grid;
      gap: 5px;
       grid-template-columns: repeat(1, 1fr);
    } 
     .tun{
     width: 90px;
     height: 90px;
     border: 1px solid black;
     background-color: gold;
      display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
     }
    .class{
    height: 30px;
    font-size: 25px;
    font-weight: 400;
     margin-left: -200px;
    grid-column: span1;
    color: rgb(13, 255, 0);
    text-align: center;
    
     }    
 .cont{
  width: 300px;
  height: 580px; 
  border: 3px solid black; 
  background-color: white;
  display: grid;
   gap: 10px;
    grid-template-columns: repeat(2, 1fr);
     padding-left: 25px;
      padding-top: 20px;
    }
    h4{
     display: flex;
      justify-content: center;
    text-align: center;
     font-size: 32px;
     font-weight: 900;
    color: blueviolet;
}
 .bloc{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(13, 255, 0);
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     
 } 
.wert{
     text-align: center;
}
 
 .jash{
    width: 298px;
    height: 290px;
     text-align: center;
     font-size: 30px;
     font-weight: 800;
      color: blue;
      display: grid;
       gap: 10px;

       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(1,1fr);
 }
 .ok{
    font-size: 30px;
    font-weight: 500;
    color: rgb(13, 255, 0);
    text-align: center;
    margin-left: -200px;
    grid-column: span1;
 }
  .block{
  width: 90px;
   height: 90px;
   border: 1px solid blue;
   background-color: yellow;
    }
 .red{
     width: 490px;
     height: 50px;
    text-align: center;
     font-size: 30px;
     font-weight: 800;
      color: blue;
    }
 .tash{
    width: 300px;
    height: 600px;
     border: 3px solid black;
     background-color: white;
     margin-right: 15px;
     margin-bottom: 25px;
     }
  .okur{
      width: 292px;
      height: 500px;
      border: 1px solid black;
      display: grid;
      gap: 15px;
      padding-left: 10px;
      grid-template-columns: repeat(1,1fr);
   }
   .pero{
      font-size: 30px;
      font-weight: 500;
      grid-column: span2;
      margin-left: -200px;
      text-align: center;
   }
   .go{
      width: 80px;
      height: 80px;
      border: 1px solid black;
       background-color: burlywood;
        display: flex;
         justify-content: center;
          align-items: center;
   }
    .avtor{
      width: 280px;
      height: 70px;
      border: 1px solid black;
      padding: 10px;
      display: flex;
      align-items: end;
   }
   .ni{
      width: 130px;
      height: 70px;
      border: 1px solid black;
      background-color:burlywood;
   }
   .bit{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .bat{
      display: flex;
       justify-content: center;
        align-items: center;
      margin-left:10px ;
   }
@media (max-width: 768px) and (min-width: 300px){ 
    
    body{
      background-color: white;
    }
      .opti{
      max-width: 768px;
      width: 100%;
      margin: 0 30px;
      min-height: 2300px;
       /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbJlE5Hv3rI6I2qq80MO121HtLA8Yq1w70HQ&s");  */
       background-repeat: no-repeat;
       background-size: cover;
      margin: 0 auto;
      position: relative;
      display: block;
       border: none;
       
    
    }
       .fix{
   max-width: 500px;
    /* width: 90%; */
   height: 15px;
   position:fixed;
    left: 75%;
   top: 15%;
   transform: translateX(-15%);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     font-weight: 900;
     cursor: pointer;
      z-index: calc(2);
      color: #ccc;
   }
 
    .cont{
      width: 370px;
      height: 570px;
      margin: 0 auto;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;

    }
     .bloc{
      width: 300px;
      height: 30px;
      margin: 0 20px;
      
     }
      .bash{
      width: 400px;
      height: 680px;
      margin: 0 auto;
       margin-bottom: 10px;
    }
    .kfc{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    }
      .class{
      width: 300px;
      height: 50px;
     margin:  0 auto;
    }
     .tun{
       width: 300px;
      height: 30px;
      margin: 0 auto;
    }
    .jash{
       width: 400px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    }
  .block{
      width: 300px;
      height: 30px;
      margin: 0 auto;

    }
    .ok{
       width: 300px;
      height: 50px;
     margin:  0 auto;
     margin-bottom: 30px;
    }
    .okur{
      border: none;
      margin: 0 auto;
    }
     
    .tash{
      width: 400px;
      height: 670px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
     } 
     .okur{
         display: flex;
      flex-wrap: wrap;
     }
     .pero{
      width: 300px;
      height: 40px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 55px;
     }
     .go{
      width: 300px;
      height: 30px;
      margin: 0 auto;
     
     }
     .avtor{
      border: none;
      width: 350px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap; 
      margin-left: 25px;
     }
     .bat{
     width: 300px;
     height: 30px;
     margin: 0 auto;
     border: 1px solid black;
     }
     .bit{
      width: 300px;
     height: 30px;
     border: 1px solid black;
     margin: 0 auto;

     }
     
     footer{
      width: 600px;
      height: 200px;
     }
     .kattal{
      width: 600px;
      height: 700px;
      border: 3px solid rgb(255, 0, 0);
      margin: 0 auto;
      }
   }