.topGames{
    width: 900px;
    height: 800px;
    /* border: 2px solid #ccc; */
}
.style{
    width: 900px;
    height: 800px;
    /* border: 2px solid #ccc; */
}
.head1{
    width: 900px;
    height: 100px;
    /* border: 2px solid #ccc; */
}

.body1{
    width: 500px;
    height: 280px;
    /* border: 1px solid #ccc; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.select{
    width: 200px;
    height: 130px;
    font-size: 23px;
    background-color: rgb(25, 253, 97);
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.go_play{
    width: 180px;
    height: 36px;
    background-color: rgb(47, 186, 241);
    border-radius: 5px;
}
.onePlay{
    width: 800px;
    height: 600px;
    /* border: 2px solid #ccc; */
}
@media (max-width: 768px) and (min-width: 300px){ 
    .style{
       width: 500px;
        margin: 0 15px;
        min-height: 1200px;
    }
    .topGames{
        width: 100%;
        margin: 0 15px;
        min-height: 1200px;
        /* border: 1px solid black; */
    }
    .onePlay{
       width: 100%;
       min-height: 1200px;
       margin: 5px 15px;
        /* border: 1px solid blue; */

    }
    .head1{
        font-size: 20px;
        width: 370px;
        height: 90px;
        /* border: 1px solid #ccc; */
        margin: 5px 15px;
        margin: o auto;
        padding-top: 9px;
    }
    .body1{
        width: 370px;
        margin: 7px 15px;
        min-height: 900px;
        /* border: 1px solid #ccc; */
        display: flex;
        flex-wrap: wrap;
        padding: 0 auto;
        margin: o auto;
    }
    .select{
        width: 300px;
        height: 200px;
        background-color: gold;
    }
    .go_play{
        width: 100%;
        height: 35px;
        border-radius: 9px;
        background-color: rgb(6, 132, 216);
        font-size: 20px;
        cursor: pointer;
    }
}