/* @media (max-width: 900px) and (min-width: 300px){ 
    header{
        width: 600px;
        height: 30px;
        background-color: aqua;
    }   
    select{
      display: none;
    }
    
    }
    .none{
      display: none;
    }
       .fix{
   max-width: 500px;
     width: 90%;
   height: 15px;
   position:fixed;
    left: 75%;
   top: 15%;
   transform: translateX(-15%);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     font-weight: 900;
     cursor: pointer;
      z-index: calc(2);
      color: #ccc;
   }
    .cont{
      width: 370px;
      height: 570px;
      margin: 0 auto;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
    }
      .opti{
      width: 600px;
      min-height: 2300px;
       background-image: url("https://img.magnific.com/free-vector/realistic-spring-background_23-2148852136.jpg?semt=ais_hybrid&w=740&q=80"); 
       background-repeat: no-repeat;
       background-size: cover;
        margin: 0 auto;
        position: relative;
     .bloc{
      width: 300px;
      height: 30px;
      margin: 0 20px;
      
     }
      .bash{
      width: 400px;
      height: 680px;
      margin: 0 auto;
       margin-bottom: 10px;
    }
    .kfc{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    }
      .class{
      width: 300px;
      height: 50px;
     margin:  0 auto;
    }
     .tun{
       width: 300px;
      height: 30px;
      margin: 0 auto;
    }
    .jash{
       width: 400px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    }
  .block{
      width: 300px;
      height: 30px;
      margin: 0 auto;

    }
    .ok{
       width: 300px;
      height: 50px;
     margin:  0 auto;
     margin-bottom: 30px;
    }
    .okur{
      border: none;
      margin: 0 auto;
    }
     
    .tash{
      width: 400px;
      height: 670px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
     } 
     .okur{
         display: flex;
      flex-wrap: wrap;
     }
     .pero{
      width: 300px;
      height: 40px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 55px;
     }
     .go{
      width: 300px;
      height: 30px;
      margin: 0 auto;
     
     }
     .avtor{
      border: none;
      width: 350px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap; 
      margin-left: 25px;
     }
     .bat{
     width: 300px;
     height: 30px;
     margin: 0 auto;
     border: 1px solid black;
     }
     .bit{
      width: 300px;
     height: 30px;
     border: 1px solid black;
     margin: 0 auto;

     }
     
     footer{
      width: 600px;
      height: 200px;
     }
     .kattal{
      width: 600px;
      height: 700px;
      border: 3px solid rgb(255, 0, 0);
      margin: 0 auto;
      }
   } */